@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  font-size: 16px;
  font-family:  var(--font-Manrope), sans-serif;
  color: var(--color-mygreen);
  scroll-behavior: smooth;
  /*line-height: 1.5;*/
}

@theme {
  --color-mylime: #d4ff00;
  --color-mygreen: #09371F;
  --color-myblack: #1f1d1d;
  --color-mylight: #FBFBF3;
  --color-mylighty: #f2eddb;

  --font-Rozha: 'Rozha';
  --font-Manrope: 'Manrope';
}

@font-face {
  font-family: Rozha;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../src/assets/fonts/rozha/RozhaOne-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../src/assets/fonts/manrope/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../src/assets/fonts/manrope/Manrope-Light.woff2") format("woff2");
}